:root {
	--blanco: #f7f7f7;
	--amarillo: #ffec47;
	--amarillo-claro: #fffb8d;
	--violeta: #0804db;
	--naranja: #ffa412;
	--gris: rgb(204, 204, 204);
	--negro: rgb(10, 10, 10);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', serif, sans-serif;
	letter-spacing: 0.2px;
}
body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: var(--blanco);
}
.header {
	width: 100vw;
	height: 50px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: var(--negro);
	box-shadow: 0 0 10px rgba(80, 80, 80, 0.548);
}
.header__enlace {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33%;
	height: 100%;
	padding: 0 20px;
	color: var(--blanco);
	font-weight: 600;
}
.header__enlace--active {
	color: var(--negro);
	background-color: var(--amarillo);
	clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.header__logo {
	height: 50px;
}

/* etilos de la galeria generada por js-------------------------- */
.galeria {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
	flex-wrap: wrap;
	margin-top: 70px;
}
.boton {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	margin: 10px 10px 30px;
}

#btn__ceram {
	padding: 3px 5px;
	cursor: pointer;
}
.galeria__container {
	width: 290px;
	padding: 20px;
	margin: 10px;
	background-color: var(--negro);
	border-radius: 3px;
}
.galeria__enlace {
	color: var(--blanco);
}
.galeria__h1 {
	width: 100%;
	text-align: center;
	margin: 10px 10px 30px 10px;
}
.galeria__img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.galeria__elegir {
	color: var(--negro);
	padding: 5px 0px;
	font-size: 14px;
	margin-top: 5px;
	background-color: var(--naranja);
	text-align: center;
}
.galeria__elegir--prox {
	background-color: var(--amarillo-claro);
}
.galeria__ceramicos {
	color: var(--blanco);
}
/* seccion de calculador------ */
.datos {
	width: 50%;
	display: flex;
	justify-content: center;
	background-color: var(--gris);
	padding: 10px;
	margin-top: 50px;
}
.datos__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: var(--blanco);
	background-color: var(--negro);
	padding: 20px 30px;
	border-radius: 2px;
}
.datos__box {
	display: flex;
	flex-direction: column;
	margin: 5px;
	position: relative;
}
.datos__label {
	display: inline-block;
	max-width: 350px;
	padding: 5px;
}
.datos__cant {
	position: relative;
}
.flecha {
	width: 30px;
	position: absolute;
	top: 7px;
	left: -29px;
	display: none;
}
.datos__alerta {
	display: inline-block;
	color: red;
	font-size: 0;
	max-width: 350px;
	padding: 0;
	height: 0;
	opacity: 0;
}
.datos__input {
	margin: 5px;
}
.datos__check {
	padding-left: 10px;
}
.datos__button {
	padding: 4px 12px;
	margin: 10px;
	cursor: pointer;
	background-color: var(--amarillo);
	font-size: 14px;
	font-weight: 600;
	border-style: none;
	border-radius: 2px;
}
.info {
	width: 50%;
	padding: 30px 40px;
	margin-top: 50px;
	background-color: var(--blanco);
	color: var(--negro);
}
.info__nombre {
	margin: 20px 0px;
}
.info__detalle {
	padding: 5px;
}
.info__img {
	height: 145px;
	margin-top: 10px;
}

/* presupesto */
.calculo {
	width: 50%;
	padding: 20px;
}
.calculo__info {
	width: 500px;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
}

/* lector qr----------------------------------- */

.lectorQR {
	position: relative;
}
input,
label {
	vertical-align: middle;
}
.qrcode-text {
	padding-right: 1em;
}
.qrcode-text-btn {
	display: inline-block;
	background-image: url(/imagenes/icon.svg);
	background-size: cover;
	height: 1.9em;
	width: 1.9em;
	cursor: pointer;
}
.qrcode-text-btn > input[type='file'] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	opacity: 0;
}
/* estilos del presupuesto--------------------- */
.presupuesto {
	margin-top: 80px;
	width: 100%;
	padding: 0 40px;
}
.presupuesto__h1 {
	text-align: center;
	margin: 20px;
}
.presupuesto__info {
	width: 100%;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
}
.presupuesto__container {
	border: solid 1px black;
	background-color: rgb(238, 238, 238);
	margin-bottom: 15px;
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr 35px;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-areas:
		'titulo-producto titulo-caja titulo-precio titulo-cantidad titulo-precio-total borrar'
		'producto caja precio cantidad precioTotal borrar'
		'titulo-peg-past titulo-bolsa titulo-precio-bolsa titulo-cantidad-bolsa titulo-precio-total-bol borrar'
		'pegamento bolsa-peg precioPeg cantidadPeg precioTotalPeg borrar'
		'pastina bolsaPastina precioPast cantidadPast precioTotalPast borrar'
		'none none none tituloTotalFinal totalFinal borrar';
}
.presupuesto__container h4,
.presupuesto__container p {
	border: solid 1px black;
	padding: 3px 7px;
}
.presupuesto__container h4 {
	color: rgb(243, 243, 243);
	background-color: rgb(26, 26, 26);
}
.presupuesto__img {
	width: 150px;
	padding: 20px;
}
.titulo-producto {
	grid-area: titulo-producto;
}
.titulo-caja {
	grid-area: titulo-caja;
}
.titulo-precio {
	grid-area: titulo-precio;
}
.titulo-cantidad {
	grid-area: titulo-cantidad;
}
.titulo-precio-total {
	grid-area: titulo-precio-total;
}
.borrar {
	grid-area: borrar;
	background-color: var(--amarillo);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.img-borrar {
	width: 25px;
	height: 25px;
}
.producto {
	grid-area: producto;
}
.caja {
	grid-area: caja;
}
.precio {
	grid-area: precio;
}
.cantidad {
	grid-area: cantidad;
}
.precio-total {
	grid-area: precioTotal;
}
.titulo-peg-past {
	grid-area: titulo-peg-past;
}
.titulo-bolsa {
	grid-area: titulo-bolsa;
}
.titulo-precio-bolsa {
	grid-area: titulo-precio-bolsa;
}
.titulo-cantidad-bolsa {
	grid-area: titulo-cantidad-bolsa;
}
.titulo-precio-total-bol {
	grid-area: titulo-precio-total-bol;
}
.pegamento {
	grid-area: pegamento;
}
.bolsa-peg {
	grid-area: bolsa-peg;
}
.precio-peg {
	grid-area: precioPeg;
}
.cantidad-peg {
	grid-area: cantidadPeg;
}
.precio-total-peg {
	grid-area: precioTotalPeg;
}
.pastina {
	grid-area: pastina;
}
.bolsa-pastina {
	grid-area: bolsaPastina;
}
.precio-past {
	grid-area: precioPast;
}
.cantidad-past {
	grid-area: cantidadPast;
}
.precio-total-past {
	grid-area: precioTotalPast;
}
.titulo-total-final {
	grid-area: tituloTotalFinal;
	border-left: solid 2px black !important;
}
.total-final {
	grid-area: totalFinal;
}
