* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	display: flex;
	justify-content: center;
}
.header {
	width: 100vw;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(250, 250, 250);
}
.header__logo {
	height: 70px;
}
.header__lectorQr,
.header__carrito {
	width: 236.484px;
	display: block;
	text-align: center;
}
.info {
	width: 50%;
	margin-top: 70px;
	padding: 20px 40px;
}
.info__nombre {
	margin: 20px 0px;
}
.datos {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(248, 244, 232);
	padding: 20px;
	margin-top: 70px;
}
.datos__box {
	margin: 5px;
}
.datos__button {
	margin: 8px;
}
